<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exoplanets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
</head>

<body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header navbar-left">
                    <a class="navbar-brand" href="/">Exoplanets</a>
                  </div>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#">Bubble Chart</a></li>
                    <li><a href="/distance">Distance</a></li>
                  </ul>
                </div>
              </nav>

    <div class="container">

        <!-- will hold the planet orbit -->
        <div class="row" id="planet-bubble">
            <div class="col-md-12">
                
            </div>
        </div>


    </div>


    <!-- javascript -->
    <script type="text/javascript" src="static/js/app2.js"></script>
</body>
</html>